* {
  font-family: "Roboto Condensed";
}

.home-page {
  padding-top: 14.5vh;
}

.shoes-div {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5vh;
}

.shoe-div-link {
  text-decoration: none;
  color: black !important;
  text-align: center;
}
.shoe-div-home {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 20vw;
  height: 40vh;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.shoe-img-home {
  width: 15vw;
  height: 20vh;
}

@media (max-width: 500px) {
  .shoe-div-home {
    width: 40vw;
  }
  .shoe-img-home {
    width: 20vw;
    height: 30vh;
  }
}
